<%include ../partials/header.ejs%>
<div class="row">
    <div class="col-md-4">
        <img src="<%=campground.imgUrl%>">
    </div>
    <div class="col-md-8">
            <h3><%=campground.name%></h3>
            <p><%=campground.description%></p>
            <a class="btn btn-primary btn-sm" href="/campgrounds/<%=campground._id%>/add" role="button">Add Review</a>
    </div>
</div>
<hr>

<div class="row">
<%campground.comments.forEach(function(comment){%>
    <div class="col-md-12">
    <div class="card">
            <div class="card-header">
              <strong><%=comment.author%></strong>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%=comment.commentBody%></p>
                <footer class="blockquote-footer"><%=comment.date%> </footer>
              </blockquote>
            </div>
          </div>
    </div>
<%});%>
</div>
<%include ../partials/footer.ejs%>
